nbn_app_service_client/src/main/resources/schemas/AppointmentServiceEndpointService_schema7.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema elementFormDefault="qualified" version="1.0"
    targetNamespace="http://www.group.singtel.com.au/AppointmentService/v2_0/AppointmentService" xmlns:service="http://www.group.singtel.com.au/cdm/v2_0_0/service"
    xmlns:common="http://www.group.singtel.com.au/cdm/v2_0_0/common" xmlns:product="http://www.group.singtel.com.au/cdm/v2_0_0/product"
    xmlns:tns="http://www.group.singtel.com.au/AppointmentService/v2_0/AppointmentService" xmlns:resource="http://www.group.singtel.com.au/cdm/v2_0_0/resource"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://www.group.singtel.com.au/cdm/v2_0_0/common" schemaLocation="common.xsd" />
    <xsd:import namespace="http://www.group.singtel.com.au/cdm/v2_0_0/service" schemaLocation="service.xsd" />
    <xsd:import namespace="http://www.group.singtel.com.au/cdm/v2_0_0/product" schemaLocation="product.xsd" />
    <xsd:import namespace="http://www.group.singtel.com.au/cdm/v2_0_0/resource" schemaLocation="resource.xsd" />
    <!-- ============================ All enums ============================== -->
    <!-- =========================== All complex types ============================== -->
    <xsd:complexType name="createAppointmentRequest" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU" />
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:BaseDto">
                <xsd:sequence>
                    <xsd:element name="customerRequestedAppointment" type="common:Appointment" minOccurs="1"
                        maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="serviceIdentifier" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="serviceIdentifierType" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identification" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identificationType" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="createAppointmentRequest" type="tns:createAppointmentRequest" />
    <xsd:complexType name="createAppointmentResponse" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU" />
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:BaseDto">
                <xsd:sequence>
                    <xsd:element name="customerBookedAppointment" type="common:Appointment" minOccurs="0"
                        maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mustDoAppointment" type="common:Appointment" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="createAppointmentResponse" type="tns:createAppointmentResponse" />
    <xsd:complexType name="createAppointmentNotificationRequest" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU" />
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:BaseDto">
                <xsd:sequence>
                    <xsd:element name="customerRequestedAppointment" type="common:Appointment" minOccurs="1"
                        maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="serviceIdentifier" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="serviceIdentifierType" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identification" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identificationType" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mustDoAppointment" type="common:Appointment" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="createAppointmentNotificationRequest" type="tns:createAppointmentNotificationRequest" />
    <xsd:complexType name="createAppointmentNotificationResponse" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU" />
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:BaseDto">
                <xsd:sequence>
                    <xsd:element name="status" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="createAppointmentNotificationResponse" type="tns:createAppointmentNotificationResponse" />
    <xsd:complexType name="updateAppointmentRequest" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU" />
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:BaseDto">
                <xsd:sequence>
                    <xsd:element name="customerSelectedAppointment" type="common:Appointment" minOccurs="1"
                        maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="customerPreviousAppointment" type="common:Appointment" minOccurs="1"
                        maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="serviceIdentifier" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="serviceIdentifierType" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identification" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identificationType" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="updateAppointmentRequest" type="tns:updateAppointmentRequest" />
    <xsd:complexType name="updateAppointmentResponse" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU" />
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:BaseDto">
                <xsd:sequence>
                    <xsd:element name="customerBookedAppointment" type="common:Appointment" minOccurs="0"
                        maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mustDoAppointment" type="common:Appointment" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="customerRequestedAppointment" type="common:Appointment" minOccurs="0"
                        maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="updateAppointmentResponse" type="tns:updateAppointmentResponse" />
    <xsd:complexType name="cancelAppointmentRequest" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU" />
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:BaseDto">
                <xsd:sequence>
                    <xsd:element name="customerBookedAppointment" type="common:Appointment" minOccurs="0"
                        maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="customerRequestedAppointment" type="common:Appointment" minOccurs="0"
                        maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="serviceIdentifier" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="serviceIdentifierType" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identification" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identificationType" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="cancelAppointmentRequest" type="tns:cancelAppointmentRequest" />
    <xsd:complexType name="cancelAppointmentResponse" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU" />
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:BaseDto">
                <xsd:sequence>
                    <xsd:element name="status" type="xsd:string" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="cancelAppointmentResponse" type="tns:cancelAppointmentResponse" />
    <xsd:complexType name="cancelAppointmentNotificationRequest" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU" />
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:BaseDto">
                <xsd:sequence>
                    <xsd:element name="customerBookedAppointment" type="common:Appointment" minOccurs="0"
                        maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                   <xsd:element name="customerRequestedAppointment" type="common:Appointment" minOccurs="0"
                        maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mustDoAppointment" type="common:Appointment" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="cancelAppointmentNotificationRequest" type="tns:cancelAppointmentNotificationRequest" />
    <xsd:complexType name="cancelAppointmentNotificationResponse" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU" />
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:BaseDto">
                <xsd:sequence>
                    <xsd:element name="status" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="cancelAppointmentNotificationResponse" type="tns:cancelAppointmentNotificationResponse" />
    <xsd:complexType name="checkAvailableAppointmentRequest" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU" />
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:BaseDto">
                <xsd:sequence>
                    <xsd:element name="customerRequestedAppointment" type="common:Appointment" minOccurs="1"
                        maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mustDoAppointment" type="common:Appointment" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="checkAvailableAppointmentRequest" type="tns:checkAvailableAppointmentRequest" />
    <xsd:complexType name="checkAvailableAppointmentResponse" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU" />
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:BaseDto">
                <xsd:sequence>
                    <xsd:element name="customerRequestedAppointment" type="common:Appointment" minOccurs="0"
                        maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mustDoAppointment" type="common:Appointment" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="firstAvailableAppointment" type="common:Appointment" minOccurs="0"
                        maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="availableAppointments" type="tns:appointmentList" minOccurs="0"
                        maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="appointmentList">
      <xsd:annotation>
            <xsd:documentation xml:lang="en-AU" />
        </xsd:annotation>
       <xsd:sequence>
            <xsd:element name="Appointment" type="common:Appointment" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU" />
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="checkAvailableAppointmentResponse" type="tns:checkAvailableAppointmentResponse" />
    <xsd:complexType name="checkAvailableAppointmentNotificationRequest" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU" />
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:BaseDto">
                <xsd:sequence>
                    <xsd:element name="customerRequestedAppointment" type="common:Appointment" minOccurs="1"
                        maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mustDoAppointment" type="common:Appointment" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="checkAvailableAppointmentNotificationRequest" type="tns:checkAvailableAppointmentNotificationRequest" />
    <xsd:complexType name="checkAvailableAppointmentNotificationResponse" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU" />
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:BaseDto">
                <xsd:sequence>
                    <xsd:element name="status" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="checkAvailableAppointmentNotificationResponse" type="tns:checkAvailableAppointmentNotificationResponse" />
    <xsd:complexType name="getRequiredAppointmentTypeRequest" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU" />
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:BaseDto">
                <xsd:sequence>
                    <xsd:element name="purchaseOrderNumber" type="xsd:string" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="getRequiredAppointmentTypeRequest" type="tns:getRequiredAppointmentTypeRequest" />
    <xsd:complexType name="getRequiredAppointmentTypeResponse" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU" />
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:BaseDto">
                <xsd:sequence>
                    <xsd:element name="appointment" type="common:Appointment" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="getRequiredAppointmentTypeResponse" type="tns:getRequiredAppointmentTypeResponse" />
    <xsd:complexType name="getAppointmentsForOrderRequest" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU" />
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:BaseDto">
                <xsd:sequence>
                    <xsd:element name="purchaseOrderNumber" type="xsd:string" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="getAppointmentsForOrderRequest" type="tns:getAppointmentsForOrderRequest" />
    <xsd:complexType name="getAppointmentsForOrderResponse" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU" />
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:BaseDto">
                <xsd:sequence>
                    <xsd:element name="appointment" type="common:Appointment" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="getAppointmentsForOrderResponse" type="tns:getAppointmentsForOrderResponse" />
    <xsd:complexType name="getAppointmentRequest" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU" />
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:BaseDto">
                <xsd:sequence>
                    <xsd:element name="appointment" type="common:Appointment" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="getAppointmentRequest" type="tns:getAppointmentRequest" />
    <xsd:complexType name="getAppointmentResponse" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU" />
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:BaseDto">
                <xsd:sequence>
                    <xsd:element name="appointment" type="common:Appointment" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="customerFacingService" type="service:CustomerFacingService"
                        minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="product" type="product:Product" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="linkedAppointment" type="common:Appointment" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="resource" type="resource:Resource" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="getAppointmentResponse" type="tns:getAppointmentResponse" />
    <xsd:complexType name="getAppointmentByIdRequest" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU" />
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:BaseDto">
                <xsd:sequence>
                    <xsd:element name="Id" type="xsd:long" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="getAppointmentByIdRequest" type="tns:getAppointmentByIdRequest" />
    <xsd:complexType name="getAppointmentByIdResponse" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU" />
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:BaseDto">
                <xsd:sequence>
                    <xsd:element name="customerRequestedAppointment" type="common:Appointment" minOccurs="0"
                        maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mustDoAppointment" type="common:Appointment" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="getAppointmentByIdResponse" type="tns:getAppointmentByIdResponse" />
     <xsd:complexType name="getAppointmentNotificationRequest" abstract="false">
         <xsd:annotation>
            <xsd:documentation xml:lang="en-AU" />
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:BaseDto">
                <xsd:sequence>
                    <xsd:element name="customerBookedAppointment" type="common:Appointment" minOccurs="0"
                        maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                   <xsd:element name="customerRequestedAppointment" type="common:Appointment" minOccurs="0"
                        maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mustDoAppointment" type="common:Appointment" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="getAppointmentNotificationRequest" type="tns:getAppointmentNotificationRequest" />
    <xsd:complexType name="getAppointmentNotificationResponse" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU" />
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:BaseDto">
                <xsd:sequence>
                    <xsd:element name="status" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="getAppointmentNotificationResponse" type="tns:getAppointmentNotificationResponse" />


    <!-- OW-NBN Changes start -->
    <xsd:complexType name="rescheduleAppointmentRequest"
		abstract="false">
		<xsd:annotation>
			<xsd:documentation xml:lang="en-AU" />
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="common:BaseDto">
				<xsd:sequence>
					<xsd:element name="customerBookedAppointment" type="common:Appointment"
						minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en-AU" />
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="customerRequestedAppointment" type="common:Appointment"
						minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en-AU" />
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="serviceIdentifier" type="xsd:string"
						minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en-AU" />
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="serviceIdentifierType" type="xsd:string"
						minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en-AU" />
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="identification" type="xsd:string"
						minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en-AU" />
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="identificationType" type="xsd:string"
						minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en-AU" />
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="rescheduleAppointmentRequest" type="tns:rescheduleAppointmentRequest" />
	<xsd:complexType name="rescheduleAppointmentResponse"
		abstract="false">
		<xsd:annotation>
			<xsd:documentation xml:lang="en-AU" />
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="common:BaseDto">
				<xsd:sequence>
					<xsd:element name="status" type="xsd:string" minOccurs="1"
						maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en-AU" />
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="rescheduleAppointmentResponse" type="tns:rescheduleAppointmentResponse" />
	<xsd:complexType name="rescheduleAppointmentNotificationRequest"
		abstract="false">
		<xsd:annotation>
			<xsd:documentation xml:lang="en-AU" />
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="common:BaseDto">
				<xsd:sequence>
					<xsd:element name="customerBookedAppointment" type="common:Appointment"
						minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en-AU" />
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="customerRequestedAppointment" type="common:Appointment"
						minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en-AU" />
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="mustDoAppointment" type="common:Appointment"
						minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en-AU" />
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="rescheduleAppointmentNotificationRequest"
		type="tns:rescheduleAppointmentNotificationRequest" />
	<xsd:complexType name="rescheduleAppointmentNotificationResponse"
		abstract="false">
		<xsd:annotation>
			<xsd:documentation xml:lang="en-AU" />
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="common:BaseDto">
				<xsd:sequence>
					<xsd:element name="status" type="xsd:string" minOccurs="0"
						maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en-AU" />
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="rescheduleAppointmentNotificationResponse"
		type="tns:rescheduleAppointmentNotificationResponse" />
	<!-- OW-NBN Changes end -->
	<!-- PRE ORDER-NBN Changes Starts -->
		 <xsd:complexType name="bookNearestAppointmentRequest" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU" />
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:BaseDto">
                <xsd:sequence>
                    <xsd:element name="customerRequestedAppointment" type="common:Appointment" minOccurs="1"
                        maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="serviceIdentifier" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="serviceIdentifierType" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identification" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identificationType" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="bookNearestAppointmentRequest" type="tns:bookNearestAppointmentRequest" />
    <xsd:complexType name="bookNearestAppointmentResponse" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU" />
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:BaseDto">
                <xsd:sequence>
                    <xsd:element name="customerBookedAppointment" type="common:Appointment" minOccurs="0"
                        maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mustDoAppointment" type="common:Appointment" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU" />
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="bookNearestAppointmentResponse" type="tns:bookNearestAppointmentResponse" />
	<!-- PRE ORDER-NBN Changes end -->
</xsd:schema>