appointment_service/src/main/resources/wsdl/AppointmentService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions targetNamespace="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService" name="AppointmentServiceEndpointService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService" schemaLocation="AppointmentService.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.group.singtel.com.au/cdm/v4_0_0/cdm" schemaLocation="../common/cdm.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.group.singtel.com.au/cdm/v1_0_0/exception" schemaLocation="../common/exception.xsd"/>
    </xsd:schema>
  </types>
  <message name="createAppointment">
    <part name="createAppointment" element="tns:createAppointment"/>
  </message>
  <message name="createAppointmentResponse">
    <part name="createAppointmentResponse" element="tns:createAppointmentResponse"/>
  </message>
  <message name="ServiceException">
    <part name="fault" element="ns1:ServiceException" xmlns:ns1="http://www.group.singtel.com.au/cdm/v1_0_0/exception"/>
  </message>
  <message name="BusinessException">
    <part name="fault" element="ns2:BusinessException" xmlns:ns2="http://www.group.singtel.com.au/cdm/v1_0_0/exception"/>
  </message>
  <message name="updateAppointment">
    <part name="updateAppointment" element="tns:updateAppointment"/>
  </message>
  <message name="updateAppointmentResponse">
    <part name="updateAppointmentResponse" element="tns:updateAppointmentResponse"/>
  </message>
  <message name="cancelAppointment">
    <part name="cancelAppointment" element="tns:cancelAppointment"/>
  </message>
  <message name="cancelAppointmentResponse">
    <part name="cancelAppointmentResponse" element="tns:cancelAppointmentResponse"/>
  </message>
  <message name="getAppointmentsByOrder">
    <part name="getAppointmentsByOrder" element="tns:getAppointmentsByOrder"/>
  </message>
  <message name="getAppointmentsByOrderResponse">
    <part name="getAppointmentsByOrderResponse" element="tns:getAppointmentsByOrderResponse"/>
  </message>
  <message name="getAppointmentById">
    <part name="getAppointmentById" element="tns:getAppointmentById"/>
  </message>
  <message name="getAppointmentByIdResponse">
    <part name="getAppointmentByIdResponse" element="tns:getAppointmentByIdResponse"/>
  </message>
  <message name="checkAvailableAppointment">
    <part name="checkAvailableAppointment" element="tns:checkAvailableAppointment"/>
  </message>
  <message name="checkAvailableAppointmentResponse">
    <part name="checkAvailableAppointmentResponse" element="tns:checkAvailableAppointmentResponse"/>
  </message>
  <message name="getRequiredAppointmentType">
    <part name="getRequiredAppointmentType" element="tns:getRequiredAppointmentType"/>
  </message>
  <message name="getRequiredAppointmentTypeResponse">
    <part name="getRequiredAppointmentTypeResponse" element="tns:getRequiredAppointmentTypeResponse"/>
  </message>
  <message name="checkAvailableAppointmentNotification">
    <part name="checkAvailableAppointmentNotification" element="tns:checkAvailableAppointmentNotification"/>
  </message>
  <message name="checkAvailableAppointmentNotificationResponse">
    <part name="checkAvailableAppointmentNotificationResponse" element="tns:checkAvailableAppointmentNotificationResponse"/>
  </message>
  <message name="createAppointmentNotification">
    <part name="createAppointmentNotification" element="tns:createAppointmentNotification"/>
  </message>
  <message name="createAppointmentNotificationResponse">
    <part name="createAppointmentNotificationResponse" element="tns:createAppointmentNotificationResponse"/>
  </message>
  <portType name="AppointmentServiceEndpoint">
    <operation name="createAppointment">
      <input wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/createAppointmentRequest" message="tns:createAppointment"/>
      <output wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/createAppointmentResponse" message="tns:createAppointmentResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/createAppointment/Fault/ServiceException"/>
      <fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/createAppointment/Fault/BusinessException"/>
    </operation>
    <operation name="updateAppointment">
      <input wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/updateAppointmentRequest" message="tns:updateAppointment"/>
      <output wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/updateAppointmentResponse" message="tns:updateAppointmentResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/updateAppointment/Fault/ServiceException"/>
      <fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/updateAppointment/Fault/BusinessException"/>
    </operation>
    <operation name="cancelAppointment">
      <input wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/cancelAppointmentRequest" message="tns:cancelAppointment"/>
      <output wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/cancelAppointmentResponse" message="tns:cancelAppointmentResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/cancelAppointment/Fault/ServiceException"/>
      <fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/cancelAppointment/Fault/BusinessException"/>
    </operation>
    <operation name="getAppointmentsByOrder">
      <input wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/getAppointmentsByOrderRequest" message="tns:getAppointmentsByOrder"/>
      <output wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/getAppointmentsByOrderResponse" message="tns:getAppointmentsByOrderResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/getAppointmentsByOrder/Fault/ServiceException"/>
      <fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/getAppointmentsByOrder/Fault/BusinessException"/>
    </operation>
    <operation name="getAppointmentById">
      <input wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/getAppointmentByIdRequest" message="tns:getAppointmentById"/>
      <output wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/getAppointmentByIdResponse" message="tns:getAppointmentByIdResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/getAppointmentById/Fault/ServiceException"/>
      <fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/getAppointmentById/Fault/BusinessException"/>
    </operation>
    <operation name="checkAvailableAppointment">
      <input wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/checkAvailableAppointmentRequest" message="tns:checkAvailableAppointment"/>
      <output wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/checkAvailableAppointmentResponse" message="tns:checkAvailableAppointmentResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/checkAvailableAppointment/Fault/ServiceException"/>
      <fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/checkAvailableAppointment/Fault/BusinessException"/>
    </operation>
    <operation name="getRequiredAppointmentType">
      <input wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/getRequiredAppointmentTypeRequest" message="tns:getRequiredAppointmentType"/>
      <output wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/getRequiredAppointmentTypeResponse" message="tns:getRequiredAppointmentTypeResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/getRequiredAppointmentType/Fault/ServiceException"/>
      <fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/getRequiredAppointmentType/Fault/BusinessException"/>
    </operation>
    <operation name="checkAvailableAppointmentNotification">
      <input wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/checkAvailableAppointmentNotificationRequest" message="tns:checkAvailableAppointmentNotification"/>
      <output wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/checkAvailableAppointmentNotificationResponse" message="tns:checkAvailableAppointmentNotificationResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/checkAvailableAppointmentNotification/Fault/ServiceException"/>
      <fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/checkAvailableAppointmentNotification/Fault/BusinessException"/>
    </operation>
    <operation name="createAppointmentNotification">
      <input wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/createAppointmentNotificationRequest" message="tns:createAppointmentNotification"/>
      <output wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/createAppointmentNotificationResponse" message="tns:createAppointmentNotificationResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/createAppointmentNotification/Fault/ServiceException"/>
      <fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/AppointmentServiceEndpoint/createAppointmentNotification/Fault/BusinessException"/>
    </operation>
  </portType>
  <binding name="AppointmentServiceEndpointPortBinding" type="tns:AppointmentServiceEndpoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="createAppointment">
      <soap:operation soapAction="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/createAppointment"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateAppointment">
      <soap:operation soapAction="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/updateAppointment"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
    </operation>
    <operation name="cancelAppointment">
      <soap:operation soapAction="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/cancelAppointment"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAppointmentsByOrder">
      <soap:operation soapAction="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/getAppointmentsByOrder"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAppointmentById">
      <soap:operation soapAction="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/getAppointmentById"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
    </operation>
    <operation name="checkAvailableAppointment">
      <soap:operation soapAction="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/checkAvailableAppointment"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
    </operation>
    <operation name="getRequiredAppointmentType">
      <soap:operation soapAction="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/getRequiredAppointmentType"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
    </operation>
    <operation name="checkAvailableAppointmentNotification">
      <soap:operation soapAction="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/checkAvailableAppointmentNotification"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
    </operation>
    <operation name="createAppointmentNotification">
      <soap:operation soapAction="http://www.group.singtel.com.au/ops/osr/rmo/manageworkforce/v4_0_0/AppointmentService/createAppointmentNotification"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="AppointmentServiceEndpointService">
    <port name="AppointmentServiceEndpointPort" binding="tns:AppointmentServiceEndpointPortBinding">
      <soap:address location="http://localhost:7001/appointment_service/AppointmentServiceEndpoint"/>
    </port>
  </service>
</definitions>

