nbn_app_build/src/main/resources/schemas/resource.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.group.singtel.com.au/cdm/v2_0_0/resource" elementFormDefault="qualified"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:resource="http://www.group.singtel.com.au/cdm/v2_0_0/resource"
    xmlns:common="http://www.group.singtel.com.au/cdm/v2_0_0/common">
    <xsd:import schemaLocation="common.xsd" namespace="http://www.group.singtel.com.au/cdm/v2_0_0/common" />
    <!-- ============================ All enums ============================== -->
    <!-- =========================== All complex types ============================== -->
    <xsd:complexType name="LogicalResourceSpecAtomic" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="resource:LogicalResourceSpec">
                <xsd:sequence>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="LogicalResourceSpec" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="resource:ResourceSpecification">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="PhysicalResourceSpecAtomic" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="resource:PhysicalResourceSpec">
                <xsd:sequence>
                    <xsd:element name="modelNumber" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="partNumber" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="skuNumber" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vendorName" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="PhysicalResourceSpec" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="resource:ResourceSpecification">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="PhysicalResourceSpecComposite" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="resource:PhysicalResourceSpec">
                <xsd:sequence>
                    <xsd:element name="physicalResourceSpec" type="resource:PhysicalResourceSpec" minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ResourceSpecType" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="resourceSpecType" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ResourceSpecification" abstract="true">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="resourceSpecCharUse" type="resource:ResourceSpecCharUse" minOccurs="0"
                maxOccurs="unbounded">
            </xsd:element>
            <xsd:element name="networkAddressSpecification" type="resource:NetworkAddressSpecification"
                minOccurs="0" maxOccurs="unbounded">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ResourceSpecCharacteristicValue" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="valueType" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="defaultValue" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="value" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="unitOfMeasure" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="valueFrom" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="valueTo" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="rangeInterval" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="validFor" type="common:TimePeriod" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="resourceCharacteristicValue" type="resource:ResourceCharacteristicValue"
                minOccurs="0" maxOccurs="unbounded">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ResourceSpecCharacteristic" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="unique" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="valueType" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="minCardinality" type="xsd:int" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="maxCardinality" type="xsd:int" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="extensible" type="xsd:boolean" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="derivationFormula" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="validFor" type="common:TimePeriod" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="action" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="type" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="resourceSpecCharacteristicValue" type="resource:ResourceSpecCharacteristicValue"
                minOccurs="0" maxOccurs="unbounded">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ResourceUsageSpec" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:UsageSpecification">
                <xsd:sequence>
                    <xsd:element name="resourceUsageSpec" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="resourceSpecification" type="resource:ResourceSpecification"
                        minOccurs="0" maxOccurs="unbounded">
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ResourceUsage" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:Usage">
                <xsd:sequence>
                    <xsd:element name="resourceUsage" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="serviceUsageId" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Protocol" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="resource:LogicalResource">
                <xsd:sequence>
                    <xsd:element name="currentPortNumber" type="xsd:int" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="isEphemeral" type="xsd:boolean" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="protocolDirection" type="xsd:int" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="portRangeStart" type="xsd:int" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="portRangeEnd" type="xsd:int" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="logicalDevice" type="resource:LogicalDevice" minOccurs="0" maxOccurs="unbounded">
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="IpAddress" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="resource:NetworkAddress">
                <xsd:sequence>
                    <xsd:element name="performanceIPAddress" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="networkNumber" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="hostNumber" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="subnetMask" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="format" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ipVersion" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="NetworkAddressSpecification" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="validFor" type="common:TimePeriod" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="resourceSpecification" type="xsd:string" minOccurs="0" maxOccurs="1">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="NetworkAddress" abstract="true">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="resource:LogicalResource">
                <xsd:sequence>
                    <xsd:element name="NetworkAddress" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="LogicalDeviceAtomic" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="resource:LogicalDevice">
                <xsd:sequence>
                    <xsd:element name="logicalDeviceAtomic" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="LogicalDevice" abstract="true">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="resource:LogicalResource">
                <xsd:sequence>
                    <xsd:element name="policyDecisionPoint1" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="configBackupLocation" type="xsd:int" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="configRunningLocation" type="xsd:int" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="configurationMethod" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="configurationMode" type="xsd:int" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="isLoopbackSet" type="xsd:boolean" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="isNullInterfaceSet" type="xsd:boolean" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="monitorMethod" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="numberOfConfigurationsPresent" type="xsd:int" minOccurs="0"
                        maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="protocolsRunning" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="isMultiBootSystem" type="xsd:boolean" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="currentRunningOS" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="hasMultipleInstalledOSs" type="xsd:boolean" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="LogicalResource" abstract="true">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="resource:Resource">
                <xsd:sequence>
                    <xsd:element name="lrStatus" type="xsd:int" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="serviceState" type="xsd:int" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="isOperational" type="xsd:boolean" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Hardware" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="resource:PhysicalResource">
                <xsd:sequence>
                    <xsd:element name="depth" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="height" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="measurementUnits" type="xsd:int" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="weight" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="weightUnits" type="xsd:int" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="width" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ManagedHardware" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="resource:Hardware">
                <xsd:sequence>
                    <xsd:element name="additionalInfo" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="administrativeState" type="xsd:int" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="physicalAlarmReportingEnabled" type="xsd:boolean" minOccurs="0"
                        maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="physicalAlarmStatus" type="xsd:int" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="coolingRequirements" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="hardwarePurpose" type="xsd:int" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="PhysicalDeviceAtomic" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="resource:PhysicalDevice">
                <xsd:sequence>
                    <xsd:element name="physicalDeviceAtomic" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="PhysicalDevice" abstract="true">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="resource:PhysicalResource">
                <xsd:sequence>
                    <xsd:element name="backplaneIndependent" type="xsd:boolean" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="backplaneNumber" type="xsd:int" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="configurationOrder" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="deviceGroupID" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="isComposite" type="xsd:boolean" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="canMixPower" type="xsd:boolean" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="hardware" type="resource:Hardware" minOccurs="0" maxOccurs="unbounded">
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="PhysicalResource" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="resource:Resource">
                <xsd:sequence>
                    <xsd:element name="manufactureDate" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="otherIdentifier" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="powerState" type="xsd:int" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="serialNumber" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="versionNumber" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="status" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="warranty" type="resource:Warranty" minOccurs="0" maxOccurs="1">
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ResourceOrder" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:Request">
                <xsd:sequence>
                    <xsd:element name="resourceOrderNumber" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="deliveryDate" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="requestDate" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="deliveryMode" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU">Optus Extension
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="deliverySlotCode" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU">Optus Extension
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="waiverReasons" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU">Optus Extension
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="resource" type="resource:Resource" minOccurs="0" maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element name="resourceOrderItem" type="resource:ResourceOrderItem" minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ResourceOrderItem" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:BusinessInteractionItem">
                <xsd:sequence>
                    <xsd:element name="resourceOrderItemNumber" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="resourceOrderItemStatus" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="resource" type="resource:Resource" minOccurs="0" maxOccurs="unbounded">
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Resource" abstract="true">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="usageState" type="xsd:int" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="type" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="subType" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identifier" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="resourceOrderType" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="isActivationRequired" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU">Optus Extension
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="resourceCharacteristicValue" type="resource:ResourceCharacteristicValue"
                minOccurs="0" maxOccurs="unbounded">
            </xsd:element>
            <xsd:element name="resourceSpecification" type="resource:ResourceSpecification" minOccurs="0"
                maxOccurs="1">
            </xsd:element>
            <xsd:element name="resourceUsage" type="resource:ResourceUsage" minOccurs="0" maxOccurs="unbounded">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ResourceCharacteristicValue" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="value" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="validFor" type="common:TimePeriod" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ResourceSpecCharUse" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="unique" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="resourcePackage" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="canBeOveridden" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="minCardinality" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="maxCardinality" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="extensible" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Id" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="resourceSpecCharacteristic" type="resource:ResourceSpecCharacteristic"
                minOccurs="0" maxOccurs="1">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ResourceBusinessInteractionItem" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="businessInteractionItem" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
            </xsd:element>
            <xsd:element name="resource" type="resource:Resource" minOccurs="0" maxOccurs="unbounded">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LogicalResourceSpecComposite" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="resource:LogicalResourceSpec">
                <xsd:sequence>
                    <xsd:element name="logicalResourceSpec" type="resource:LogicalResourceSpec" minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="PhysicalDeviceComposite" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="resource:PhysicalDevice">
                <xsd:sequence>
                    <xsd:element name="physicalDevice" type="resource:PhysicalDevice" minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Warranty" abstract="false">
        <xsd:annotation>
            <xsd:documentation xml:lang="en-AU"></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="quantity" type="common:Quantity" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-AU"></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>